{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Boutique</h2>
                {% if erreur is defined and erreur == true %}
                    <script type="text/javascript">
                        alert("Plus assez d'objets en stock.");
                    </script>
                {% endif %}
                {% if commandeEmpty is defined and commandeEmpty == true %}
                    <script type="text/javascript">
                        alert("Le panier est vide");
                    </script>
                {% endif %}
                <table cellspacing="60">
                    <caption>Liste des films</caption>
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Durée</th>
                        <th>Date de sortie</th>
                        <th>Prix</th>
                        <th>Quantité disponible</th>
                        <th>Quantité à commander</th>
                        <th>Ajouter au panier</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for film in films if films is not empty %}
                        <tr>
                            <td><a href="{{ path('ficheFilm', {'idFilm': film.idFilm}) }}">
                                    <img width="60px" src="{{asset('images/uploaded/' ~ film.imageFilm)}}"/>
                                </a>
                            </td>
                            <td>{{film.titreFilm}}</td>
                            <td>{{film.dureeFilm}}</td>
                            <td>{{film.dateFilm|date('Y-m-d')}}</td>
                            <td>{{film.prixFilm}}</td>
                            <td>{{film.quantiteFilm}}</td>
                            <td>
                                <a href="{{ path('ajouterPanier', {'film': film.idFilm}) }}">
                                    <img width="50px" src="{{ asset('images/addCart.png') }}" alt="Ajouter">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}