{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Gestion des films</h2>
                <table cellspacing="60">
                    <caption>Liste des films</caption>
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Durée</th>
                        <th>Date de sortie</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for panier in contenu if contenu is not empty %}

                        <tr>
                            <td><img width="60px" src="{{asset('images/uploaded/' ~ panier.filmId.imageFilm)}}"> </td>
                            <td>{{panier.filmId.titreFilm}}</td>
                            <td>{{panier.filmid.dureeFilm}}</td>
                            <td>{{panier.filmId.dateFilm|date('Y-m-d')}}</td>
                            <td>{{panier.filmId.prixFilm}}</td>
                            <td>{{panier.quantitePanier}}</td>
                            {#<td><a href="{{ path('ajouterPanier', {film: film.idFilm, utilisateur: app.user.idUtilisateur}) }}"><img width="50px" src="{{ asset('images/supprimer.png') }}" alt="Supprimer"></a></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('commander', {'utilisateur': app.user.idUtilisateur}) }}">Valider la commande</a>
            </div>
        </div>
    </div>
{% endblock %}


