{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="ficheFilm">
                <h2><b>{{ films.titreFilm }}</b></h2>
               <img src="{{asset('images/uploaded/' ~ films.imageFilm)}}">
                <div class="attributsFilm">
                <div class="realFilm"><span>Réalisateur : </span>{{ films.realisateurId.prenomRealisateur }} {{ films.realisateurId.nomRealisateur }}</div>
                <div class="dureeFilm"><span>Durée : </span>{{films.dureeFilm}} min</div>
                <div class="dateFilm"><span>Date de sortie : </span>{{films.dateFilm|date('Y-m-d')}}</div>
                <div class="quantiteDuFilm"><span>Quantité disponible : </span>{{films.quantiteFilm}}</div>
                <div class="prixFilm"><span>Prix : </span>{{films.prixFilm}}€</div></div>
               </div>
            <h2>Commentaires</h2>
            {% for commentaire in commentaires if commentaires is not empty %}
                <div class="commentairePar">Par <b>{{ commentaire.utilisateurId.nomUtilisateur }} :</b></div>
                <div class="commentaire">{{ commentaire.commentaire | raw}}</div><br><br>
            {% endfor %}
        </div>
    </div>
    <div class="formCommentaire">
        {{ form_start(form)}}
            {{ form_errors(form) }}
            {{ form_row(form.commentaire)}}
            {{ form_rest(form) }}
    <input type="submit" value="{{ 'Submit'}}" />
        {{ form_end(form) }}
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript" src="{{asset('js/tinymce/jquery.tinymce.min.js')}}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            height: 100,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css'
        });
    </script>
{% endblock %}