{% extends 'base.html.twig' %}


    {% block body %}
        <div onload="toto()";></div>
        <div class="container">
            <h2>Rupture de stock</h2>
            <ul class="listefilm">
                    {% for film in films if films is not empty%}
                        <li id="{{ film.typeFilmId.libelleTypeFilm }}" class="listeATrier">
                            <a href="{{ path('ficheFilm', {'idFilm': film.idFilm}) }}">
                                <img width="90px" src="{{asset('images/uploaded/' ~ film.imageFilm)}}"/>
                            </a>
                            <div class="infoboutique">
                                <h2 class="titre">{{film.titreFilm}}</h2>
                                <div class="prix">Prix : {{film.prixFilm}}€</div>
                                <div class="quantite">Quantité dispo : {{film.quantiteFilm}}</div>
                                <br>
                                <button onclick="askNbExemplaire({{ film.idFilm }})">Réapprovisionner</button>
                            </div>
                        </li>
                    {% endfor %}

            </ul>
        </div>
    {% endblock %}


    {% block javascripts %}
        {# Ajout d'exemplaire en javascript #}
        <script type="text/javascript">
            function askNbExemplaire(id)
            {
                var nbExemplaires = prompt('Combien d\'exemplaires voulez vous ajouter ?' + nbExemplaires);
                window.location.replace("http://localhost:8000/indexAdmin/"+id+"/" + nbExemplaires);
            }
        </script>
    {% endblock %}