{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Gestion des films</h2>
                <a href="{{ path('ajouterNouveauFilm') }}"><img width="90px" src="{{ asset('images/ajouter.png') }}"></a> <br>
                <table cellspacing="60" class="gestionFilm">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Titre</th>
                        <th>Réalisateur</th>
                        <th>Durée</th>
                        <th>Date de sortie</th>
                        <th>Prix</th>
                        <th>Quantité disponible</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for film in films if films %}
                        <tr>
                            <td><img width="60px" src="{{asset('images/uploaded/' ~ film.imageFilm)}}"> </td>
                            {% if film.quantiteFilm < 5 %}
                                <td class="titreFilm" style="color: red">{{film.titreFilm}}</td>
                            {% else %}
                                <td class="titreFilm">{{film.titreFilm}}</td>
                            {% endif %}
                            <td>{{ film.realisateurId.nomRealisateur }}</td>
                            <td>{{film.dureeFilm}}</td>
                            <td>{{film.dateFilm|date('Y-m-d')}}</td>
                            <td class="prixFilm">{{film.prixFilm}}€</td>
                            <td class="quantiteFilm">{{film.quantiteFilm}}</td>
                            <td><a href="{{ path('modifierFilm', {'film': film.idFilm}) }}"><img width="50px" src="{{ asset('images/editer.png') }}" alt="editer"></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if erreur is defined and erreur != false %}
                    <script type="text/javascript">
                        alert("{{ erreur }}");
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


