{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Gestion des films</h2>
                <table cellspacing="60">
                    <caption>Liste des commandes</caption>
                    <thead>
                    <tr>
                        <th>Nom utilisateur</th>
                        <th>Prix</th>
                        <th>Date</th>
                        <th>Etat</th>
                        <th>Détails</th>
                        <th>Valider la commande</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commande in commandes if commandes is not empty %}

                        <tr>
                            <td>{{commande.utilisateurId.nomUtilisateur}}</td>
                            <td>{{commande.prixCommande}}</td>
                            <td>{{commande.dateCommande|date('Y-m-d')}}</td>
                            <td>{{commande.etatId.libelleEtatCommande}}</td>
                            {% if(commande.etatId.libelleEtatCommande == "Pas commandee"
                                    or commande.etatId.libelleEtatCommande == "En attente d expedition") %}
                                <td><a href="{{ path('ficheCommande', {'commande': commande.idCommande}) }}">Détails de la commande</a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if commande.etatId.libelleEtatCommande == "En attente d expedition" %}
                                <td><a href="{{ path('validerCommande', {'commande': commande.idCommande}) }}">Valider</a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


