{% extends 'base.html.twig' %}


    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Gestion des réalisateurs</h2>
                    <a href="{{ path('ajouterNouveauRealisateur') }}"><img width="90px" src="{{ asset('images/ajouter.png') }}"></a> <br>
                    <table cellspacing="60">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Modifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for realisateur in realisateurs if realisateurs is not empty %}

                                <tr>
                                    <td>{{realisateur.nomRealisateur}}</td>
                                    <td>{{realisateur.prenomRealisateur}}</td>
                                    <td><a href="{{ path('editRealisateur', {'id': realisateur.idRealisateur}) }}">modifier</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
